/.idea/
/src/app/server/coverage/
/src/app/server/node_modules/
/src/app/server/public/css/
/src/app/server/public/js/
/src/app/server/dist/
/src/app/static/node_modules/
/src/app/static/coverage/
/src/app/static/dist/
