.editor-error-background {
  background-color: #ff00002d;
}

.editor-warning-background {
  background-color: #ff910033;
}

.error-glyph-style {
  color: red;
  font-size: 15.5px;
}

.warning-glyph-style {
  color: orange;
  font-size: 15.5px;
}
