@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.inline-icon {
  vertical-align: text-bottom;
}

.inline-spinner {
  vertical-align: middle;
}

$brand: #479fb6;
$light-grey: #eee;
$grey: #ccc;
$tooltip-error: #d10404;
$tooltip-warning: #c58804f6;
$tooltip-success: #54ac01;

.bg-brand {
  background-color: $brand;
}

.brand {
  color: $brand;
}

.grey {
  color: $grey;
}

.wodin-link {
  color: $brand;
  text-decoration: none;
  &:hover {
    color: darken($brand, 10%);
  }
}

.btn-outline {
  background-color: #fff;
  border-color: #0d6efd;
  color: #0d6efd !important;
}

.wodin-plot-container, .summary-plot-container {
  position: relative;
}

.plot {
  height: 450px;
}

.plot-placeholder {
  width: 100%;
  height: 450px;
  background-color: $light-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
}

.alert-danger {
  background-color: #fff;
}

.clickable {
  cursor: pointer;
}

.hidden-parameter-set {
  background-color: $light-grey;
}

.tooltip-error .tooltip-inner {
  background-color: $tooltip-error;
}
.tooltip-error.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: $tooltip-error !important;
}
.tooltip-error.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: $tooltip-error !important;
}
.tooltip-error.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: $tooltip-error !important;
}
.tooltip-error.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: $tooltip-error !important;
}

.tooltip-success .tooltip-inner {
  background-color: $tooltip-success;
}
.tooltip-success.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: $tooltip-success !important;
}
.tooltip-success.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: $tooltip-success !important;
}
.tooltip-success.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: $tooltip-success !important;
}
.tooltip-success.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: $tooltip-success !important;
}

.tooltip-warning .tooltip-inner {
  background-color: $tooltip-warning;
}
.tooltip-warning.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: $tooltip-warning !important;
}
.tooltip-warning.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: $tooltip-warning !important;
}
.tooltip-warning.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: $tooltip-warning !important;
}
.tooltip-warning.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: $tooltip-warning !important;
}