@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.inline-icon {
  vertical-align: bottom;
}

$brand: #0cb6d8;

.bg-brand {
  background-color: $brand;
}
