@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./tooltip.scss";
@import "./editor.scss";

.container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.inline-icon {
    vertical-align: text-bottom;
}

.inline-spinner {
    vertical-align: middle;
}

$brand: #479fb6;
$light-grey: #eee;
$grey: #ccc;

.bg-brand {
    background-color: $brand;
}

.brand {
    color: $brand;
}

.brand-link,
.brand-link:hover,
.brand-link:visited {
    @extend .brand;
    text-decoration: none;
}

.grey {
    color: $grey;
}

.wodin-link {
    color: $brand;
    text-decoration: none;
    &:hover {
        color: darken($brand, 10%);
    }
}

.btn-outline {
    background-color: #fff;
    border-color: #0d6efd;
    color: #0d6efd !important;
}

.wodin-plot-and-legend {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 1rem;
}

.wodin-plot-container,
.summary-plot-container {
    padding-inline: 1rem;
    width: calc(100% - min(20rem, 25%));
    overflow-x: hidden;
}

.wodin-plot-container text[id^="labelx"],
.summary-plot-container text[id^="labelx"]{
    font-size: 0.9rem !important;
}

.plot {
    height: 450px;
}

.plot-placeholder {
    width: 100%;
    height: 100%;
    background-color: $light-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.alert-danger {
    background-color: #fff;
}

.clickable {
    cursor: pointer;
}

.hidden-parameter-set {
    background-color: $light-grey;
}

.generic-help-icon {
    color: $brand;
    float: right;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
}

.param-set-icon {
    margin-top: 8px;
    margin-bottom: 8px;
}

.param-card-header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.param-name-input {
    width: 150px;
    height: 30px;
    padding-left: 7px;
    padding-top: 0;
    padding-bottom: 0;
}

.drop-zone {
    border-width: 4px;
    padding: 4px;
    border-style: dashed;
}

.drop-zone-active {
    border-color: #eee;
}

.drop-zone-inactive {
    border-color: #fff;
}

.drop-zone-instruction {
    min-height: 3rem;
    background-color: #eee;
    width: 100%;
}

.variable {
    font-size: large;
    cursor: pointer;
}

.variable-delete {
    font-weight: normal;
    margin-left: 0.3rem;
    span {
        opacity: 0.5;
    }

    button {
        background-color: transparent;
        border-width: 0;
        color: white;
        padding: 0;
    }
}

.wodin-tooltip-container {
    transform: translate3d(-0.3rem, -50%, 0);
    display: flex;
    align-items: center;
}

.wodin-tooltip-info {
    border-radius: 4px;
    color: white;
    font-size: 0.95rem;
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    margin-left: -1px;
}

.wodin-tooltip-arrow {
    height: 0;
    width: 0;
    border: 0.6rem solid black;
    border-color: transparent;
}

.graph-config-settings {
    margin-left: 8px;
}
