<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{config.title}}</title>
        <link rel="stylesheet" href="../compiled/{{config.appType}}App.css">
    </head>
    <body>
        <div id="app">
        </div>
        <script>
            const appConfig = {{{json config}}};
        </script>
        <script src="../compiled/{{config.appType}}App.umd.js"></script>
    </body>
</html>
