<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Page Not Found</title>
        <link rel="stylesheet" href="/css/basicApp.css">
    </head>
    <body>
        <div class="container">
            <h1>Page Not Found</h1>
            Page "{{url}}" not found
        </div>
    </body>
</html>
