<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body><div id="app"></div></body>
    <script>
        var appType = "{{appType}}";
        var appTitleGlobal = "{{appTitle}}";
        var courseTitleGlobal = "{{courseTitle}}";
        var wodinVersionGlobal = "{{wodinVersion}}";
        var appNameGlobal = "{{appName}}";
        // need to escape special chars in baseUrl in mustache
        var baseUrlGlobal = "{{& baseUrl}}";
        var appsPathGlobal = "{{appsPath}}";
        var enableI18nGlobal = {{enableI18n}};
        var defaultLanguageGlobal = "{{defaultLanguage}}";
        var loadSessionIdGlobal = "{{loadSessionId}}";
        var shareNotFoundGlobal = "{{shareNotFound}}";
    </script>
    {{#hotReload}}
        <script type="module" src="http://localhost:5173/src/wodin.ts"></script>
        <link rel="stylesheet" href="http://localhost:5173/src/scss/style.scss"/>
    {{/hotReload}}
    {{^hotReload}}
        <script type="module" src="../../wodin.js"></script>
        <link rel="stylesheet" href="../../wodin.css"/>
    {{/hotReload}}
</html>
