<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/fitApp.css">
    </head>
    <body>
        <div id="app">
            <fit-app appName="{{appName}}"></fit-app>
        </div>
        <script src="/js/fitApp.umd.js"></script>
    </body>
</html>
