<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/stochasticApp.css">
    </head>
    <body>
        <div id="app">
            <stochastic-app appName="{{appName}}"></stochastic-app>
        </div>
        <script src="/js/stochasticApp.umd.js"></script>
    </body>
</html>
